.about-section {
  display: flex;
  flex-direction: column;
}

.top {
  width: 50%;
  margin-left: 50%;
}
.about-header {
  width: 40%;
  margin-left: 60%;
}

.about-nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.about-nav a {
  padding: 0 1rem;
}

.bio-div {
  margin-top: 5rem;
  display: flex;
}
.bio {
  font-size: 1.85rem;
  margin-left: 2.5rem;
}

.green {
  position: absolute;
  background-color: #b3e283;
  border-radius: 20%;
  left: 10rem;
  bottom: 4rem;
}

.red-squareAbout {
  position: absolute;
  left: 35rem;
  top: 4rem;
}
.blue-squareAbout {
  position: absolute;
  right: 10rem;
}

.z-index {
  z-index: -10;
}

@media (max-width: 1115px) {
  .bio-div {
    width: 100%;
  }
  .bio {
    width: 80%;
  }
  .red-squareAbout {
    left: 20rem;
  }
}

@media (max-width: 800px) {
  .red-squareAbout {
    left: 15rem;
  }
  .bio {
    font-size: 4vw;
  }
}

@media (max-width: 630px) {
  .red-squareAbout {
    left: 5rem;
  }
  .blue-squareAbout {
    right: 3rem;
  }
}

@media (min-width: 1400px) {
  .bio {
    font-size: 2vw;
  }
  .about-nav {
    width: 30%;
    margin-left: 70%;
  }
}
