
.about-section{
    display: flex;
    flex-direction: column;
}

.about-header{
    width: 50%;
    margin-left: 50%;
}

.about-nav{
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    margin-top: 1rem;
    margin-left: 30%;
}

.bio-div{
    margin-top: 7rem;
}
.bio{
    font-size: 1.85rem;
    margin-left: 2.5rem;
}