
.about-section{
    display: flex;
    flex-direction: column;
    
}

.top{
    width: 50%;
    margin-left: 50%;
}
.about-header{
    width: 40%;
    margin-left: 60%;
}

.about-nav{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.about-nav a{
    padding: 0 1rem;
}


.bio-div{
    margin-top: 5rem;
    display: flex;
}
.bio{
    font-size: 1.85rem;
    margin-left: 2.5rem;
}

.green-square{
    position: absolute;
    background-color: #B3E283;
    width: 200px;
    height: 200px;
    border-radius: 20%;
    left: 10rem;
    bottom: 4rem;
}

.red-squareAbout{
    position: absolute;
    left: 35rem;
    top:4rem;

}

.z-index{
    z-index: -10;
}