
.projectDiv{
    display: flex;
    z-index: 999;
    width: 50%;
    height: 50vh;
    border: 2px solid grey;
    margin: 5% auto;
    border-radius: 8px;
    box-shadow: 5px 10px;
    flex-direction: column;
}

.projectLink{
    display: flex;
    height: 20%;
    margin-left: 2rem;
}

.projectLink a{
    margin: auto;
}