.projectDiv {
  display: flex;
  z-index: 999;
  width: 50%;
  height: 20vh;
  border: 2px solid grey;
  margin: 3% auto;
  border-radius: 8px;
  flex-direction: column;
  background-color: #ffffff;
}
.projects {
  height: 100vh;
  background-size: cover;
}

.projectHeader {
  padding-top: 1.5rem;
  width: 100%;
  display: flex;
  height: 10%;
  align-items: center;
}

.projectLink {
  display: flex;
  height: 20%;
  font-size: 2vw;
  width: 40%;
  margin: auto;
}

.projectLink a {
  margin: auto;
}

.projectP {
  width: 80%;
  margin: auto;
  font-size: 1.75vw;
}

.redOne {
  box-shadow: 5px 10px #ff616d;
}

.greenOne {
  box-shadow: 5px 10px #b3e283;
}

.blueOne {
  box-shadow: 5px 10px cornflowerblue;
}
.potluck {
  background-image: url("/src/imgs/picnic-widescreen-hd-wallpaper-60754-62559-hd-wallpapers.jpeg");
}
.familyPromise {
  background-image: url("/src/imgs/houses_water_buildings_199265_3840x2160.jpeg");
}
.tech {
  background-image: url("/src/imgs/tech-wallpaper-4.jpeg");
}

@media (min-width: 1400px) {
  .projectP {
    font-size: 1.5vw;
  }
}

@media (max-width: 1400px) {
  .projectP {
    font-size: 1.3vw;
  }
}

@media (max-width: 900px) {
  .top {
    margin-bottom: 4rem;
  }
  .projectP {
    font-size: 1.5vw;
  }
  .projectLink {
    font-size: 2vw;
  }
}

@media (max-width: 500px) {
  .projectP {
    font-size: 2.25vw;
  }
  .projectLink {
    font-size: 3vw;
  }
}
