.projectDiv {
  display: flex;
  z-index: 999;
  width: 50%;
  height: 20vh;
  border: 2px solid grey;
  margin: 5% auto;
  border-radius: 8px;
  flex-direction: column;
}

.projectLink {
  display: flex;
  height: 20%;
  margin-left: 2rem;
}

.projectLink a {
  margin: auto;
}

.projectP {
  width: 80%;
  margin: auto;
}

.redOne {
  box-shadow: 5px 10px #ff616d;
}

.greeOne {
  box-shadow: 5px 10px #b3e283;
}

.blueOne {
  box-shadow: 5px 10px cornflowerblue;
}
